/* Conteneur principal des résultats */
#results-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les sections */
}

/* Section d'un questionnaire */
.questionnaire-section {
    margin-bottom: 20px; /* Espacement entre les sections */
}

/* Tableau des résultats */
table {
    width: 100%;
    margin-bottom: 10px; /* Réduction de l'espacement */
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: center;
}

/* Conteneur des graphiques */
.chart-container {
    margin: 0 auto 10px auto; /* Centrage et espacement inférieur */
    width: 100px; /* Largeur fixe */
    height: 100px; /* Hauteur fixe */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
}
main {
    padding: 2rem;
}
button {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
table th, table td {
    padding: 0.5rem;
    text-align: center;
}
canvas {
    margin: 1rem 0;
    max-width: 400px;
}